html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body{line-height:1;} ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:''; content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}
body,input,textarea {
	font-family: 'Verdana', sans-serif;
	font-weight: normal;
	font-size: 13px;
}
span {
	font-family: 'Verdana', sans-serif;
}
body {
	font-family: 'Verdana', sans-serif;
	font-size: 14px;
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-ms-transition: background 1s ease;
	-o-transition: background 1s ease;
	transition: background 1s ease;
}
body.light {
	background: url('../img/bg-1.jpg') no-repeat center center fixed;
	background-size: cover;
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-ms-transition: background 1s ease;
	-o-transition: background 1s ease;
	transition: background 1s ease;
}
body.dark {
	background: url('../img/bg-2.jpg') no-repeat center center fixed;
	background-size: cover;
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-ms-transition: background 1s ease;
	-o-transition: background 1s ease;
	transition: background 1s ease;
}
input {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
p {
	line-height: 1.3em;
}
.clear {
	clear :both;
}
#button-result {
	display: none;
	/*padding: 50px;*/
}

/* Header
---------------------------------------------------------------- */

#header {
	background-color: rgba(255,255,255,0.7);
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
	  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
}
.ticker-nav {
    display: inline-block;
    float: right;
    position: absolute;
    right: 20px;
    top: 15px;
}
.ticker-nav i{
	font-size: 18px;
}
.ticker-next {
	margin-bottom: 5px;
}
.ticker-next, .ticker-prev {
  cursor: pointer;
}
#header #content-announcement,
#header #label-announcement {
	display: inline-block;
	float: left;
}
#header #label-announcement h3 a {
	font-size: 14px;
	font-weight: 400;
	display: inline-block;
	padding: 30px 25px;
	background-color: #2980b9;
	text-transform: uppercase;
	color: #ffffff;
	letter-spacing: 0.3px;
}
#header #content-announcement {
	width: 83%;
	top: 19px;
	left: 23px;
}
#header #content-announcement ul li{
	max-height: 36px;
	overflow: hidden;
}
#header #content-announcement ul li p{
	font-size: 14px;
	letter-spacing: 0.3px;
	line-height: 1.3em;
	text-transform: uppercase;
	height: 36px;
	overflow: hidden;
}

/* Content
---------------------------------------------------------------- */

#content {
	width: 65%;
	padding: 25px 0 0;
	margin: auto;
}
#content #content-area {
	position: relative;
}
#content #content-area #present{
	width: 48%;
	display: inline-block;
	background-color: rgba(255,255,255,0.7);
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
	  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
}
#content #content-area #sidebar {
	display: inline-block;
	vertical-align: top;
	top: 0;
	position: absolute;
	width: 42%;
	margin-left: 13%;
}
table.dataTable.display tbody tr:hover>.sorting_1, table.dataTable.order-column.hover tbody tr:hover>.sorting_1 {
	background-color: #2980b9 !important;
	color: #ffffff !important;
	cursor: pointer;
}

/* Qr Code Area
---------------------------------------------------------------- */

#content #content-area #content-header #logo-website{
	background-repeat: no-repeat;
	display: block;
	margin: 30px auto 20px auto;
	width: 281px;
	height: 73px;
}
.light #content #content-area #content-header #logo-website {
	background: url('../img/logo.png');
}
.dark #content #content-area #content-header #logo-website {
	background: url('../img/logo-invert.png');
}

/* Qr Code Area
---------------------------------------------------------------- */

#qr-area {
	width: 100%;
	padding-bottom: 40px;
}
#qr-area #scanner-laser-area {
	padding: 20px;
	width: 200px;
	height: 200px;
	position: relative;
	background-color: #ffffff;
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
	border-radius: 3px;
}
#qr-area .scanner-laser {
	position: absolute;
	margin: 40px;
	height: 30px;
	width: 30px;
}
#qr-canvas {
	width: 200px;
	height: 200px;
}
#qr-area .laser-leftTop {
	top: 0;
	left: 0;
	border-top: solid blue 5px;
	border-left: solid blue 5px;
	border-radius: 3px;
}
#qr-area .laser-rightTop {
	top: 0;
	right: 0;
	border-top: solid blue 5px;
	border-right: solid blue 5px;
}
#qr-area .laser-leftBottom {
	bottom: 0;
	left: 0;
	border-bottom: solid blue 5px;
	border-left: solid blue 5px;
}
#qr-area .laser-rightBottom {
	bottom: 0;
	right: 0;
	border-bottom: solid blue 5px;
	border-right: solid blue 5px;
}
#qr-area span {
	position: absolute;
	bottom: 36px;
	font-size: 11px;
	left: 95px;
	color: #ffffff;
}
#play {
	display: none;
}

/* Sidebar
---------------------------------------------------------------- */

#sidebar {
	
}

/* Recent
---------------------------------------------------------------- */

#sidebar #recent {
	background: rgba(255,255,255,0.7);
	border-radius: 3px;
	margin-top: 20px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
}
#sidebar #recent #recent-header h3 {
	padding: 10px;
	text-align: center;
	background: rgba(255,255,255,0.7);
	font-weight: 700;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
	border-radius: 3px 3px 0 0;
}
#sidebar #recent #recent-content {
	padding: 15px;
}
#sidebar #recent #recent-content ul li{
	margin-bottom: 15px;
}
#sidebar #recent #recent-content ul li:last-child{
	margin-bottom: 0;
}
#sidebar #recent #recent-content .recent-img {
	display: inline-block;
	background-color: #ffffff;
	border-radius: 3px;
	width: 66px;
	height: 66px;
	overflow: hidden;
	float: left;
}
#sidebar #recent #recent-content .recent-img img {
	width: 66px;
	height: 66px;
}
#sidebar #recent #recent-content .recent-data {
	display: inline-block;
	vertical-align: top;
	margin-top: 5%;
	width: 75%;
	float: left;
	margin-left: 10px;
}
#sidebar #recent #recent-content .recent-data h4{
	display: block;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.3em;
	margin-bottom: 7px;
}
#sidebar #recent #recent-content .recent-data .recent-time{
	display: inline-block;
}
#sidebar #recent #recent-content .recent-data .recent-time #time{
	margin-right: 10px;
}
/* Card Forget
---------------------------------------------------------------- */

#card-forget {
	display: block;
	text-align: center;
	margin-bottom: 62px;
}
.manual_input input[type="submit"],
#card-forget a {
	position: relative;
	vertical-align: top;
	padding: 15px 25px;
	background-color: #2980b9;
	color: #fff;
	border-radius: 3px;
	-webkit-box-shadow: 0 3px 0 0 #1e5e89;
	box-shadow: 0 3px 0 0 #1e5e89;
}
.manual_input input[type="submit"] {
	display: block;
	margin: 0 auto;
}
/*.input_nik {
	position: relative;
}
.input_nik input,
.input_nik span {
	position: absolute;
	top 0;
}*/
.manual_input input[type="submit"]:active,
#card-forget a:active {
	top: 3px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#footer span{
	font-size: 12px;
	text-align: center;
	display: block;
	padding-bottom: 10px;
}

/* Dialog
---------------------------------------------------------------- */

.dialog,
.dialog__overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.dialog {
	position: fixed;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	pointer-events: none;
}
 
.dialog__overlay {
	position: absolute;
	z-index: 1;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-backface-visibility: hidden;
}

.dialog--open .dialog__overlay {
	opacity: 1;
	pointer-events: auto;
}
.dialog__content {
	max-width: 560px;
	/*min-width: 290px;*/
	background: #fff;
	padding: 4em;
	text-align: center;
	position: relative;
	z-index: 5;
	opacity: 0;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
}

.dialog--open .dialog__content {
	pointer-events: auto;
}
.action {
	border: none;
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: transparent;
	background: url('../img/close-manual.png');
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.form_manual,
.table_manual {
	display: inline-block;
	vertical-align: top;
}
.not_goodbye,
.goodbye,
.not-late,
.late{
	padding: 60px 40px;
}
.goodbye {
	background-color: #3498db;
}
.not-late{
	background-color: #40d47e;
}
.not_goodbye,
.late{
	background-color: #e74c3c;
}
.not_goodbye p,
.goodbye p,
.not-late p,
.late p{
	display: inline-block;
	font-size: 34px;
	letter-spacing: 0.5px;
	color: #ffffff;
	margin-bottom: 20px;
	font-weight: 300;
}
.pengumuman .textarea h4 {
	font-size: 24px;
	line-height: 1.3em;
	margin-bottom: 20px;
}
.pengumuman .textarea span {
	font-style: italic;
	font-size: 14px;
	margin-bottom: 20px;
	display: block;
}
.pengumuman .main-textarea{
	font-size: 14px;
	line-height: 1.5em;
	text-align: left;
	max-height: 414px;
	overflow: auto;
	padding-right: 16px;
}
.not_goodbye .main-textarea,
.goodbye .main-textarea,
.not-late .main-textarea,
.late .main-textarea{
	font-size: 34px;
	line-height: 1.3em;
	letter-spacing: 0.5;
	font-weight: 700;
	color: #ffffff;
}
.not_goodbye .main-textarea h2,
.goodbye .main-textarea h2,
.not-late .main-textarea h2,
.late .main-textarea h2{
	display: inline-block;

}
.not_goodbye .action,
.goodbye .action,
.not-late .action,
.late .action {
	background: url('../img/close.png');
}
.main-not_goodbye,
.main-late {
	display: block;
	margin-top: 20px;
	color: #ffffff;
	letter-spacing: 0.5px;
}
.manual_input {
	width: 339px;
	padding: 30px;
	top: 0;
	border-radius: 3px;
}
.form_manual {
    top: 98px;
    left: -217px;
    padding-bottom: 40px;
}
.dataTables_info,
.dataTables_paginate,
.dataTables_length {
	display: none;
}
.table_manual {
	left: 66px;
	top: 114px;
	width: 289px;
}
.manual_input form{
	margin-top: 80px;
}
.manual_input input[type="submit"] {
	border: none;
	margin-top: 30px;
}
.manual_input span#text{
	display: block;
	margin-bottom: 30px;
	font-size: 13px;
}
.manual_input span.min {
	padding-bottom: 6px;
	padding-left: 1.9%;
	padding-right: 1.9%;
}
.manual_input span.min,
.manual_input input[type="text"] {
	border: none;
	border-bottom: 2px solid #2980b9;
	font-size: 30px;
	float: left;
}
.manual_input input[type="text"] {
	line-height: 36px;
}
.manual_input input#nik1 {
	max-width: 23%;
	margin-left: 14%;
}
.manual_input input#nik2,
.manual_input input#nik3{
    max-width: 17%;
    margin-left: -1px;

}

#copyright {
	display: block;
	margin-top: 83px;
	font-size: 12px;

}

/* The Clock
---------------------------------------------------------------- */

#clock{
	padding:7px;
	position:relative;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
}


#clock .display{
	text-align:center;
	padding: 40px 0 20px;
	border-radius:3px;
	position:relative;
	height: 54px;
}


/* Light Color
---------------------------------------------------------------- */

.light #clock{
	background: rgba(255,255,255,0.7);
	color: #272e38;
}

.light #clock:after{
	box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

.light #clock .digits div span{
	background-color:#272e38;
	border-color:#272e38;	
}

.light #clock .digits div.dots:before,
.light #clock .digits div.dots:after{
	background-color:#272e38;
}

/*#clock.light .alarm{
	background:url('../img/alarm_light.jpg');
}*/

.light #clock .display{
	box-shadow:0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #fafafa;
}
.light #header,
.light div#clock,
.light #sidebar #recent,
.light #sidebar #recent #recent-header h3,
.light #content #content-area #present {
	background: rgba(255,255,255,0.7);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.light #footer span,
.light #sidebar #recent #recent-header h3,
.light #sidebar #recent #recent-content .recent-data h4,
.light #sidebar #recent #recent-content .recent-data .recent-time span,
.light #header #content-announcement ul li p {
	color: #272e38;
}
.light .ticker-nav i {
	color: #000000;
}


/* Dark Color
---------------------------------------------------------------- */


.dark #clock{
	background-color:#272e38;
	color:#cacaca;
}

.dark #clock:after{
	box-shadow:0 4px 10px rgba(0,0,0,0.3);
}

.dark #clock .digits div span{
	background-color:#cacaca;
	border-color:#cacaca;	
}

/*#clock.dark .alarm{
	background:url('../img/alarm_dark.jpg');
}*/

.dark #clock .display{
	box-shadow:0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #2d3642;
}

.dark #clock .digits div.dots:before,
.dark #clock .digits div.dots:after{
	background-color:#cacaca;
}
.dark .ticker-nav i {
	color: #ffffff;
}
.dark #header,
.dark div#clock,
.dark #sidebar #recent,
.dark #sidebar #recent #recent-header h3,
.dark #content #content-area #present {
	background: rgba(15,22,32,0.7);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.dark #footer span,
.dark #sidebar #recent #recent-header h3,
.dark #sidebar #recent #recent-content .recent-data h4,
.dark #sidebar #recent #recent-content .recent-data .recent-time span,
.dark #header #content-announcement ul li p {
	color: #ffffff;
}
/* The Digits
---------------------------------------------------------------- */


#clock .digits div{
	text-align:left;
	position:relative;
	width: 28px;
	height:50px;
	display:inline-block;
	margin:0 4px;
}

#clock .digits div span{
	opacity:0;
	position:absolute;

	-webkit-transition:0.25s;
	-moz-transition:0.25s;
	transition:0.25s;
}

#clock .digits div span:before,
#clock .digits div span:after{
	content:'';
	position:absolute;
	width:0;
	height:0;
	border:5px solid transparent;
}

#clock .digits .d1{			height:5px;width:16px;top:0;left:6px;}
#clock .digits .d1:before{	border-width:0 5px 5px 0;border-right-color:inherit;left:-5px;}
#clock .digits .d1:after{	border-width:0 0 5px 5px;border-left-color:inherit;right:-5px;}

#clock .digits .d2{			height:5px;width:16px;top:24px;left:6px;}
#clock .digits .d2:before{	border-width:3px 4px 2px;border-right-color:inherit;left:-8px;}
#clock .digits .d2:after{	border-width:3px 4px 2px;border-left-color:inherit;right:-8px;}

#clock .digits .d3{			height:5px;width:16px;top:48px;left:6px;}
#clock .digits .d3:before{	border-width:5px 5px 0 0;border-right-color:inherit;left:-5px;}
#clock .digits .d3:after{	border-width:5px 0 0 5px;border-left-color:inherit;right:-5px;}

#clock .digits .d4{			width:5px;height:14px;top:7px;left:0;}
#clock .digits .d4:before{	border-width:0 5px 5px 0;border-bottom-color:inherit;top:-5px;}
#clock .digits .d4:after{	border-width:0 0 5px 5px;border-left-color:inherit;bottom:-5px;}

#clock .digits .d5{			width:5px;height:14px;top:7px;right:0;}
#clock .digits .d5:before{	border-width:0 0 5px 5px;border-bottom-color:inherit;top:-5px;}
#clock .digits .d5:after{	border-width:5px 0 0 5px;border-top-color:inherit;bottom:-5px;}

#clock .digits .d6{			width:5px;height:14px;top:32px;left:0;}
#clock .digits .d6:before{	border-width:0 5px 5px 0;border-bottom-color:inherit;top:-5px;}
#clock .digits .d6:after{	border-width:0 0 5px 5px;border-left-color:inherit;bottom:-5px;}

#clock .digits .d7{			width:5px;height:14px;top:32px;right:0;}
#clock .digits .d7:before{	border-width:0 0 5px 5px;border-bottom-color:inherit;top:-5px;}
#clock .digits .d7:after{	border-width:5px 0 0 5px;border-top-color:inherit;bottom:-5px;}


/* 1 */

#clock .digits div.one .d5,
#clock .digits div.one .d7{
	opacity:1;
}

/* 2 */

#clock .digits div.two .d1,
#clock .digits div.two .d5,
#clock .digits div.two .d2,
#clock .digits div.two .d6,
#clock .digits div.two .d3{
	opacity:1;
}

/* 3 */

#clock .digits div.three .d1,
#clock .digits div.three .d5,
#clock .digits div.three .d2,
#clock .digits div.three .d7,
#clock .digits div.three .d3{
	opacity:1;
}

/* 4 */

#clock .digits div.four .d5,
#clock .digits div.four .d2,
#clock .digits div.four .d4,
#clock .digits div.four .d7{
	opacity:1;
}

/* 5 */

#clock .digits div.five .d1,
#clock .digits div.five .d2,
#clock .digits div.five .d4,
#clock .digits div.five .d3,
#clock .digits div.five .d7{
	opacity:1;
}

/* 6 */

#clock .digits div.six .d1,
#clock .digits div.six .d2,
#clock .digits div.six .d4,
#clock .digits div.six .d3,
#clock .digits div.six .d6,
#clock .digits div.six .d7{
	opacity:1;
}


/* 7 */

#clock .digits div.seven .d1,
#clock .digits div.seven .d5,
#clock .digits div.seven .d7{
	opacity:1;
}

/* 8 */

#clock .digits div.eight .d1,
#clock .digits div.eight .d2,
#clock .digits div.eight .d3,
#clock .digits div.eight .d4,
#clock .digits div.eight .d5,
#clock .digits div.eight .d6,
#clock .digits div.eight .d7{
	opacity:1;
}

/* 9 */

#clock .digits div.nine .d1,
#clock .digits div.nine .d2,
#clock .digits div.nine .d3,
#clock .digits div.nine .d4,
#clock .digits div.nine .d5,
#clock .digits div.nine .d7{
	opacity:1;
}

/* 0 */

#clock .digits div.zero .d1,
#clock .digits div.zero .d3,
#clock .digits div.zero .d4,
#clock .digits div.zero .d5,
#clock .digits div.zero .d6,
#clock .digits div.zero .d7{
	opacity:1;
}


/* The dots */

#clock .digits div.dots{
	width:5px;
}

#clock .digits div.dots:before,
#clock .digits div.dots:after{
	width:5px;
	height:5px;
	content:'';
	position:absolute;
	left:0;
	top:14px;
}

#clock .digits div.dots:after{
	top:34px;
}


/* The Alarm
---------------------------------------------------------------- */


#clock .alarm{
	width:16px;
	height:16px;
	bottom:20px;
	background:url('../img/alarm_light.jpg');
	position:absolute;
	opacity:0.2;
}

#clock .alarm.active{
	opacity:1;
}


/* Weekdays
---------------------------------------------------------------- */


#clock .weekdays{
	font-size:12px;
	position:absolute;
	width:100%;
	top:10px;
	left:0;
	text-align:center;
}


#clock .weekdays span{
	opacity:0.2;
	padding:0 10px;
	font-size: 18px;
}

#clock .weekdays span.active{
	opacity:1;
}


/* AM / PM
---------------------------------------------------------------- */


#clock .ampm{
	position:absolute;
	bottom:20px;
	right:20px;
	font-size:12px;
}

/* Dialog Overlay
---------------------------------------------------------------- */

.dialog__overlay {
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.dialog.dialog--open .dialog__content,
.dialog.dialog--close .dialog__content {
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.dialog.dialog--open .dialog__content {
	-webkit-animation-name: anim-open;
	animation-name: anim-open;
}

.dialog.dialog--close .dialog__content {
	-webkit-animation-name: anim-close;
	animation-name: anim-close;
}

.dialog.dialog--open h2,
.dialog.dialog--open p,
.dialog.dialog--open span,
.dialog.dialog--open input,
.dialog.dialog--open button {
	-webkit-animation: anim-elem 0.3s both;
	animation: anim-elem 0.3s both;
}

.dialog.dialog--open h2 {
	-webkit-animation-delay: 0.05s;
	animation-delay: 0.05s;
}

.dialog.dialog--open button {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

@-webkit-keyframes anim-open {
	0% { opacity: 0; -webkit-transform: translate3d(0, 50px, 0); }
	100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); }
}

@keyframes anim-open {
	0% { opacity: 0; -webkit-transform: translate3d(0, 50px, 0); transform: translate3d(0, 50px, 0); }
	100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}

@-webkit-keyframes anim-close {
	0% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); }
	100% { opacity: 0; -webkit-transform: translate3d(0, 50px, 0); }
}

@keyframes anim-close {
	0% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
	100% { opacity: 0; -webkit-transform: translate3d(0, 50px, 0); transform: translate3d(0, 50px, 0); }
}

/* Inner elements animations */

@-webkit-keyframes anim-elem {
	0% { opacity: 0; -webkit-transform: translate3d(0, 25px, 0); }
	100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); }
}

@keyframes anim-elem {
	0% { opacity: 0; -webkit-transform: translate3d(0, 25px, 0); transform: translate3d(0, 25px, 0); }
	100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}
